html{
    background-color: white;
    font-size:18px;
    /*font-family:"Noto Sans", sans-serif;*/
    font-family: "Lato", sans-serif;
    height:100%;
    padding-right: 100px;
    padding-left: 100px;
    /*font-family: Lato,sans-serif;*/
}
body img{
    width: 80%;
    height: auto;
    padding-left: auto;
    padding-right: auto;
}